body{
    padding: 0px;
    margin: 0px;
}

#wallpaper{
       width: 100vw;
       height: 45vh;
}

#title{
    position: absolute;
    top: 5vh;
    right: 43vw;
    background-color: transparent;
    transform: scale(1);    
}