#menu{

    display: flex;
    justify-content: space-around;
    margin: 0px;
    background-color: #C6F2D9;
    padding-top: 0px;
}

.menu{
    padding: 5px 25px;
    font-size: 2rem;
    list-style: none;
    
}

.menu a{
    border-style: solid;
    border-color: black;
    border-width: 5px;
    color: black;
    text-decoration: none;
    border-radius: 10px;
}

.menu a :hover{
    background-color: black;
    color: white;    
}

.menu a button{
    background-color: transparent;
    border: none;
    font-size: 2rem;
    font-family: 'Bangers', cursive;
}